# deps
node_modules/

# Artefactos de Cypress / auditorías
auditorias/
cypress/screenshots/
cypress/videos/
cypress/downloads/

# SO / editores
.DS_Store
.idea/
.vscode/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


