# deps
node_modules/
package-lock.json#backup? (no, ¡sí se versiona!)
# Cypress artefactos
cypress/screenshots/
cypress/videos/
cypress/downloads/
auditorias/
# SO / editores
.DS_Store
.idea/
.vscode/

